body {
  margin: 0;
}
.app-header {
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header-link svg {
  height: 30px;
  width: 30px;
}
.app-header-link svg:hover {
  background: #e8e8e8;
  border-radius: 50%;
}

label {
  font-size: 14px;
  width: 140px;
  display: inline-block;
  padding-left: 10px;
}
.form-item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
input,
select {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 200px;
  padding: 0 10px;
  box-sizing: border-box;
}
input:hover,
input:focus,
select:hover,
select:focus {
  border-color: #2468f2;
}
input[type='color'] {
  width: 32px;
  padding: 0;
}
input[type='checkbox'] {
  width: 16px;
  height: 16px;
}
.form-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 10px;
}

.container {
  display: flex;
  height: calc(100vh - 61px);
}
.container .container-left {
  overflow-y: auto;
  width: 50%;
  padding: 16px;
}

.container .container-left::-webkit-scrollbar {
  -webkit-appearance: none;
}

.container .container-left::-webkit-scrollbar:vertical {
  width: 6px;
}

.container .container-left::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(227, 227, 227);
}
.container .container-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.container .container-right-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 40px;
}
.validate {
  position: absolute;
  bottom: 0px;
  width: 400px;
  text-align: center;
}
.qr-container {
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.5);
}
